
@{
    ViewData["Title"] = "CargarPagos";
}

<h1>CargarPagos</h1>

<a href="@Url.Action("PagoUnico", "Pagos")">Pago Unico</a>
<br />
<a href="@Url.Action("PagoRecurrente", "Pagos")">Pago Recurrente</a>

