@using Obligatorio_Logica;
@using Obligatorio_Logica.Entidades
@model List<Pago>


<h2>Cargar Pago Único</h2>

<form asp-controller="Pagos" asp-action="PagoUnico" method="post">
    <div>
        <label for="descripcion">Descripción del pago:</label>
        <input type="text" id="descripcion" name="descripcion" required />
    </div>

    <div>
        <label for="monto">Monto:</label>
        <input type="number" id="monto" name="monto" step="0.01" required />
    </div>

    <div>
        <label for="nroRecibo">Número de Recibo:</label>
        <input type="number" id="nroRecibo" name="nroRecibo" required />
    </div>

    <div>
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required />
    </div>

    <div>
        <label for="metodo">Método de pago:</label>
        <select id="metodo" name="metodo" required>
            <option value="EFECTIVO">Efectivo</option>
            <option value="DEBITO">Débito</option>
            <option value="CREDITO">Crédito</option>
        </select>
    </div>

    <hr />
    <h3>Tipo de gasto</h3>

    <div>
        <label for="nombreTipo">Tipo de gasto:</label>
        <select id="nombreTipo" name="nombreTipo" required>
            @foreach (Tipo_gasto tg in Sistema.Instancia.tipo_Gastos)
            {
                <option value="@tg.Nombre">@tg.Nombre</option>
            }
        </select>
    </div>

    <button type="submit">Guardar Pago</button>
</form>