<h1>Cargar Gasto</h1>

<form asp-controller="Gastos" asp-action="cargarGasto" method="post">

    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" value="" />
    <br />
    <label for="descripcion">Descripcion: </label>
    <input type="text" name="descripcion" value="" />

    <button type="submit">Guardar Pago Recurrente</button>

</form>