
@{
    ViewData["Title"] = "PagoUnico";
}

<h1>Cargar Pagos</h1>

<label>Pago Unico</label>
<br />

<label>Monto</label>
<input type="number" name="numMonto" />
<br />
<label>Nombre</label>
<input type="text" name="txtNombre" />
<br />
<label>Descripcion</label>
<input type="text" name="txtDescripcion" />

